/*** specify fonts ***/
body {
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    padding: 5px; 
}

.name {
    font-size: 40px; 
    color: #2d3c49;
}

.field {
    font-size: 20px; 
    color: #2d3c49;
}

.featured {
    font-size: 30px; 
    color: #7d97ad; 
    padding: 5px; 
}

.project-title {
    text-align: center; 
    color: #2d3c49;
    font-size: 25px; 
}

.atlas {
    text-align: center;
}

.link {
    text-align: center;
}


/*** align author ***/
.author {
    text-align: right; 
    margin-left: auto;
    margin-right: auto; 
    padding: 5px;
}



/*** style the horizontal line ***/
hr {
    color: #7d97ad; 
    background-color: #7d97ad; 
    height: 3px; 
}



/*** scale the figures ***/
.logo {
    max-width: 130px;
    height: auto; 
    margin-left: auto;
    margin-right: auto; 
    padding: 5px;
}

.fig {
    width: 100%;
    height: auto; 
    margin-left: auto;
    margin-right: auto; 
    padding: 5px;
}




